@use "variables" as *;

body {
  margin: 0;
  font-family: Bricolage Grotesque;
  color: $text;
  background: $bg;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  padding: clamp(50px, 8vw, 50px) 0;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 9999px;
  background: $accent-orange;
  color: $white;
  font-weight: 400;
  letter-spacing: 0.2px;
  border: 0;
  cursor: pointer;
  font-size: 20px;

  @media (min-width: 768px) {
    padding: 16px 50px;
  }
}

.btn:hover {
  text-decoration: none;
  background: $highlight-yellow;
  color: $text;
}
